.search-container{
    background-color: rgba(0, 0, 0, 0.85);
    text-align: center;
    line-height: 40px;
}
.search-container input{
    width: 75%;
}
.shop-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.product-container{
    border-right: 1px solid lightgray;
    margin-right: 5px;
    margin-left: 50px;
}
.pagination{
    margin:10px 20px;
    display: flex;
    justify-content: center;
    

}
.pagination button{
    margin-right: 10px;
    padding: 10px;
    border: none;
    color: black;
    background-color: cadetblue;
    border-radius: 4px;
    font-weight: 700;
    font-size: 1.2em;
}
.pagination .selected{
    background-color: rgb(59, 59, 206);
    color: white;
}